<h1><%=@dish.name%></h1>
<h1>Chef: <%=@dish.chef.name%></h1>
<% @dish.ingredient.each do |ingredient|%>
    <h1>Ingredient: <%=ingredient.name%></h1>
<% end %>
<h1>Total Calories: <%=@dish.total_cal%></h1>
